@keyframes th {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

@keyframes shadow {
    from {
        box-shadow: 0 0 5px rgba(155, 155, 155, 0.6);
        -webkit-box-shadow: 0 0 5px rgba(185, 185, 185, 0.6);
    } to {
        box-shadow: 0 0 50px rgba(155, 155, 155, 0.6);
        -webkit-box-shadow: 0 0 50px rgba(185, 185, 185, 0.6);
    }
}

#container-main {
    width: 80%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-th {
    font-size: 1.6rem;
    color: #FFFF;
}

.name-th span {
    font-size: 3rem;
    background: -webkit-linear-gradient(90deg, hsla(256, 96%, 44%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: .1rem;
    animation: th 4s ease-in-out;
}

.container-img {
    width: 10rem; 
}

.img-th {
    width: 100%;
    border-radius: 50%;
    animation: shadow 5s ease-in-out infinite alternate;
}

.info-th {
    font-size: 1.2rem;
    text-align: center;
    color: rgb(192, 192, 192);
    margin-bottom: 3rem;
}

.name {
    font-weight: 600;
    background: -webkit-linear-gradient(90deg, hsla(256, 96%, 44%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-btns {
    width: 100%;
}

.btn-box {
    position: relative;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background: linear-gradient(90deg, rgb(51, 98, 236) 0%, rgb(9, 173, 238) 100%);
    color: #FFFF;
    border-radius: 8px;
    margin-bottom: 1rem;
    text-align: center;
    transition: .5s all;
}

.btn-box:hover {
    background: linear-gradient(90deg, rgb(2, 59, 230) 0%, rgb(1, 166, 231) 100%);
}

.btn-box::before {
    content: '';
    transition: all .5s;
}

.btn-box::after {
    content: '';
    transition: all 1s;
}

.btn-box:hover::before {
    content: '';
    position: absolute;
    top: -.3rem;
    left: -.3rem;
    width: 5rem;
    height: 3rem;
    background-color: #FFFF;
    border-radius: 8px;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.btn-box:hover::after {
    content: '';
    position: absolute;
    bottom: -.3rem;
    right: -.3rem;
    width: 5rem;
    height: 3rem;
    background-color: #FFFF;
    border-radius: 8px;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

@media screen and (min-width: 75rem){
    
    .container-btns {
        width: 40%;
    }
}



