@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Baloo 2', cursive;
}

body {
    position: relative;
    background-image: linear-gradient(to right, #181818, #1d1d1e, #212224, #25272a, #292d30);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}