#container-footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #FFFF;
    display: flex;
    justify-content: center;
    margin: 2rem 10% 0;
    border-top: 1px solid rgba(92, 92, 92, 0.438);
}

@media screen and (min-width: 48.75rem) {
    #container-footer {
        display: none;
    }
}