#container-header {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, hsla(225, 78%, 59%, 1) 0%, hsla(197, 85%, 51%, 1) 100%);
}

.header-list-social-media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list-social-media a {
    margin: .3rem 0 .3rem 1rem;
    font-size: 1.1rem;
    color: #FFFF;
    transition: ease .5s;
}

.header-list-social-media a:hover {
    color: #181818;
}

@media screen and (min-width: 48.75rem) {
    #container-header {
        width: 13rem;
        height: 7vh;
        margin-top: .5rem;
        margin-left: .5rem;
        border-radius: 15px;
        display: flex;
        z-index: 3;
    }

    .header-list-social-media {
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .header-list-social-media a {
        width: 100%;
        font-size: 1.3rem;
    }

}