@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}
  
@keyframes pulse-border {
    0% {
        border-color: #0038FF; /* Cor inicial */
    }
    50% {
        border-color: #1d293d; /* Cor intermediária */
    }
    100% {
        border-color: #0038FF; /* Cor final */
    }
}

.animate-border {
    animation: pulse-border 2s infinite ease-in-out;
}