@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;
}

body {
    background-image: linear-gradient(to right, #181818, #1d1d1e, #212224, #25272a, #292d30);
}