@keyframes audiobar {
    0% {
        width: 0;
    }
    100% { 
        width: 100%;
    }
}

#container-main {
    height: 100%;
    width: 100%;
    padding: 2rem 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#container-img-album-th {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-album {
    width: 80%;
}

#info-th {
    color: #FFFF;
}

#info-th p {
    font-style: italic;
    font-weight: 500;
    margin-bottom: 3rem;
}

/* Player of music*/
#container-player {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio-bar {
    width: 100%;
    height: .2rem;
    background-color: #FFFF;
    border-radius: 50px;
}

.progress {
    height: 100%;
    background-color: #00C6FF;
    border-radius: 50px;
    width: 0;
    animation: audiobar 100s linear infinite
}

.buttons-player {
    color: #FFFF;
    margin-top: 1.2rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-player div {
    cursor: pointer;
    font-size: 1.2rem;
    transition: .5s ease-in;
}

.buttons-player div:nth-child(3) {
    font-size: 2.5rem;
}

.buttons-player div:hover {
    color: #00C6FF;
}

@media screen and (min-width: 48.75rem) {
    #container-main {
        display: grid;
        grid-template-columns: 15rem 1fr 1fr 1.5rem;
        grid-template-rows: 40% 50%;
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }

    #container-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        grid-column: 2 / 4;
    }

    #container-img-album-th {
        width: 25rem;
    }

    #info-th h1 {
        font-size: 3rem;
    }

    #info-th p {
        font-size: 1.4rem;
    }

    #container-player {
        position: fixed;
        bottom: 0;
        background-image: linear-gradient(to right, #000000, #090909, #111011, #161617, #1b1b1c);
        padding: 2rem 2rem 0 2rem;
        width: 100%;
        z-index: 3;
    }
}

@media screen and (min-width: 61.25rem) {
    #container-main {
        grid-template-rows: 40% 40%;
    }
}

@media screen and (min-width: 86.25rem) {
    #container-main {
        grid-template-rows: 40% 30%;
    }
}
