#mobile-menu {
    display: none; 
    position: fixed;
    right: 16px; 
    top: 64px; 
    width: 250px; 
    height: auto; 
    border-radius: 16px; 
    padding: 1rem;
    background-color: #0e1626; 
    backdrop-filter: blur(10px); 
    transition: all 0.3s ease-in-out;
}

#menu-toggle:checked ~ #mobile-menu {
    display: block;
    top: 64px; 
    transform: translateX(0%) scale(1); 
}

#menu-button {
    z-index: 60; 
}

#menu-toggle:checked ~ #mobile-menu {
    display: block;
    transform: translateX(0%) scale(1);
}

#menu-button svg {
    width: 24px;
    height: 24px;
}
