@keyframes fadeIn {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}

#modal-skills {
    width: 90%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #181818, #1d1d1e, #212224, #25272a, #292d30);
    color: #FFFF;
    border-radius: 15px;
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

#modal-skills.active-modal-skill {
    animation: fadeIn 0.5s ease-in-out forwards;
    opacity: 1;
    visibility: visible;
    z-index: 4;
}


#modal-skills h1 {
    margin-bottom: 1rem;
    grid-column: 1 / 4;
}

#close-skill {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: .8s ease;
}

#close-skill:hover {
    color: #00C6FF;
}

.skill {
    width: 100%;
    cursor: pointer;
    background: linear-gradient(90deg, hsla(225, 78%, 59%, 1) 0%, hsla(197, 85%, 51%, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: .2rem 1rem;
    font-size: 1rem;
    transition: .8s ease;
}

.skill:hover {
    color: #202020;
    border: #202020 1px solid;
}

#page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
  }

  #page-overlay.active-page-overlay {
    display: block;
  }

/* Janela de 660px de altura */
@media screen and (max-height: 41.25rem) {
    #modal-skills {
        height: 80%;
    }
}

@media screen and (min-width: 61.25rem) {
    .skill {
        font-size: 1rem;
    }

    .skill i {
        font-size: 2rem;
    }
}






