#ticker {
    display: flex;
    width: max-content;
    animation: tickerMove 25s linear infinite;
}

@keyframes tickerMove {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}